/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 40rem) {
  
/*----------MAIN -------------*/
div.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    grid-column-gap: 10px;
}

}