/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----------- BODY --------------*/
body {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    background-color: #eeeeee;
}
   
    

/*----------- HEADER --------------*/






/*----------- MAIN --------------*/












/*----------- FOOTER --------------*/

#footerWrapper {background-color:#ffff60;}

footer {
    padding: 0.5rem 2%;
    text-align: center;
    font-size: 12px;
}

footer span {
    color:#af4642;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }